@import "../../../assets/scss/vars";

.seasonal-rewards__title {
  padding: 5px;
}

.seasonal-rewards__list {
  display: flex;
  border-top: 1px solid $color-grey;
}

.seasonal-rewards__item {
  max-width: 80px;
  width: 100%;
  min-height: 94px;
  padding: 10px;
  border-left: 1px solid $color-grey;
  border-right: 1px solid $color-grey;
  &:first-child,
  &:last-child {
    border-left: none;
  }
}
