@import "../../assets/scss/vars";

.weeks-challenge {
  max-width: 542px;
  width: 100%;
  margin: 0 auto;
  font-size: 12px;
  background-color: #fff;
}

.weeks-challenge__header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 30px;
  padding: 5px 8px;
  text-align: center;
  color: $color-white;
  background-color: $color-green;

  &-title {
    font-weight: bold;
  }
}

.weeks-challenge__content {
  border: 1px solid #A4A4A4;
}
