@import "./src/assets/scss/vars";

.mission-list {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding: 14px;
	list-style: none;
}

.mission-item {
	position: relative;
	padding-right: 150px;
	&:before {
		content: '';
		position: absolute;
		top: 50%;
		left: 32px;
		width: calc(100% - 30px);
		height: 2px;
		background-color: $color-grey;
		z-index: 0;
	}

	&:first-child {
		padding-left: 0;
	}
	&:last-child {
		padding-right: 54px;
		&:before {
			left: 0;
			width: calc(100% - 90px);
		}
		&:after {
			content: '';
			position: absolute;
			top: 50%;
			right: 5px;
			width: 50px;
			height: 2px;
			background-color: $color-grey;
		}
		.mission-task-complete {
			left: 70px
		}
	}
}

.mission-item--active {
	&:before {
		background-color: $color-green;
	}
	.mission-images-wrap {
		border-color: $color-green;
	}
	.mission-image-task {
		border-color: $color-green;
	}
	.mission-task-complete {
		border-color: $color-green;
	}
}

.mission-images-wrap {
	position: relative;
	width: 32px;
	height: 32px;
	background-color: #fff;
	border-radius: 50px;
	z-index: 1;
}

.mission-images-wrap-active::before {
	content: "";
	top: -2px;
	left: -2px;
	position: absolute;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	background-color: #3DBCA1;
	border-radius: 50%;
	z-index: -1;
}

.mission-image {
	width: 100%;
	z-index: 1;
}

.mission-task-complete, {
	position: absolute;
	top: 25%;
	left: 102px;
	width: 18px;
	height: 18px;
	background-color: $color-white;
	border: 2px solid $color-grey;
	border-radius: 50%;
	z-index: 1;
}

.mission-currency {
	position: absolute;
	top: 18px;
	left: -50%;
	transform: translateX(-20%);
	font-size: 10px;
}
