.avatar-slot {
	margin-bottom: 30px;
	&:last-child {
		margin-bottom: 0;
	}
}

.avatar-slot__title {
	text-align: center;
	text-transform: capitalize;
	font-size: 18px;
	margin-bottom: 15px;
}

.avatar-slot__button {
	display: inline-block;
	width: 102px;
	height: 102px;
	padding: 5px;
	margin: 0;
	border-radius: 50%;
	cursor: pointer;
	background-color: #EFEFEF;
	border: 5px solid transparent;
	&--active {
		border-color: #3DBCA1;
	}
	&:disabled {
		cursor: auto;
		img {
			opacity: 0.3;
		}
	}
	img {
		width: 100%;
		height: auto;
	}
}
