@import "./src/assets/scss/vars";

.reward-list {
	display: flex;
	align-items: baseline;
	flex-wrap: wrap;
	padding: 14px 14px 14px 90px;
}

.reward-item {
	position: relative;
	width: 33.33%;
	// padding-right: 150px;
	&:before {
		content: '';
		position: absolute;
		top: 50%;
		left: 32px;
		width: calc(100% - 31px);
		height: 2px;
		background-color: $color-grey;
		z-index: 0;
	}

	&:first-child {
		padding-left: 0;
	}
	&:last-child {
		// padding-right: 54px;
		&:before {
			left: 32px;
			width: calc(100% - 106px);
		}
		.reward-task-check {
			left: 70px
		}
	}
}

.reward-item--active {
	&:before {
		background-color: $color-green;
	}
	.reward-button {
		border-color: $color-green;
	}
	.reward-image-task {
		border-color: $color-green;
	}
}

.reward-button {
	position: relative;
	width: 32px;
	height: 32px;
	padding: 0;
	margin: 0;
	background-color: #fff;
	border-radius: 50px;
	z-index: 1;
	border: none;
	cursor: pointer;
	&:disabled {
		opacity: 0.3;
		cursor: auto;
	}

	img {
		width: 100%;
	}
}

.reward-button-active::before {
	content: "";
	top: -2px;
	left: -2px;
	position: absolute;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	background-color: #3DBCA1;
	border-radius: 50%;
	z-index: -1;
}

.reward-image {
	width: 100%;
	z-index: 1;
}

.reward-task-check, {
	position: absolute;
	top: 25%;
	left: calc(50% + 9px);
	width: 18px;
	height: 18px;
	border-radius: 50%;
	z-index: 1;

	img {
		width: 100%;
		height: auto;
	}
}

.reward-currency {
	position: absolute;
	top: 20px;
	left: -50%;
	transform: translateX(-35%);
	width: 100px;
	text-align: center;
	font-size: 8px;
	overflow: hidden;
	text-overflow: ellipsis;
}
